#compiled files
build/
lib/
bin/
*.a
*.o
*.so
*.out
*.exe
*.bin

#edited copies
*~

#pcd files
*.pcd
#screenshot for pcd files using J　in pcl_viewer
*.cam
*.png

#cmake-build-debug
cmake-build-debug/

#KDevelop IDE
VO_project.kdev4
